.statusBar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 42px;
  border-bottom: #29487d;
  background-color: #4267b2;
  margin-bottom: 20px;

  & button {
    display: flex;
    margin: 4px;
    padding: 0 10px;
    background: transparent;
    border: 1px solid var(--paletteColor2);
    border-radius: 4px;
    cursor: pointer;
  }

  & img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    transition: border .5s ease;
    border: 1px solid var(--paletteColor5);
    border-radius: 50%;
    cursor: pointer;
  }

  & p {
    color: var(--paletteColor2);
    align-self: center;
  }
}
